.perfil{
  float: left;
  background-color: #AAABB8;
  width: 24vh;
  height: 33vh;
}
#imgPerfil{
  height: 14vh;
  width: 17vh;
}
.buttonSideNav{
  height: 6vh;
  width: 9vh;
  font-size: 2vh;
}
.three_bar_img{
  width: 9vh;
  height: 6vh;
  position: relative;
  left: 0px;
}
#imgFundoPerfil{
  width: 32vh;
}
