.centralOfertas{
  position: relative;
  left: 16vw;
  width: 67vw;
  height: 100vh;
}
.oferta{
  display: flex;
  justify-content: flex-start;
  height: 10.5em;
  left: 33vh;
  width: 66vw;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 1em;
  margin-top: 4vh;
  margin-left: 1vh;
  background-color: #4a4b67;
  font-family: Bebas;
  color: white;
  letter-spacing: 5px;
}
.imgOferta{
  float: left;
  margin: 5px;
  height: 9.8em;
  width: 14em;
  border-radius: 9%;
  border-style: solid;
  border-color: rgba(47,47,85,1);
}

.informacao{
  width: 46vw;
}
.informacao h1{
  font-size: 2em;
  margin-top: 16px;
}

.informacao h2{
  font-size: 1em;
  margin-top: 1px;
}
.estrelas{
  position: relative;
  top: 7em;
}
