@font-face {
  font-family: Bebas;
  src: url(font/BebasNeue-Regular.otf);
}

.infoArea{
  display: flex;
  justify-content: flex-start;
  background-color: #0e0e40;
  margin-top: 20px;
  height: 80vh;
  width: 100%;
}

.imgArea{
  float: right;
  width: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../img/infoImg2.jpg");
  clip-path: polygon(32% 0, 100% 0, 100% 100%, 0% 100%);
}

.textArea{
  width: 60%;
  margin-left: 50px;
  height: 80vh;
  float: left;
  position: relative;
}

.textContainer{
  font-family: Bebas;
  color: #9292c2;

  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;

  margin: 0;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}
