.centralOfertas{
  position: relative;
  left: 16vw;
  width: 67vw;
  height: 100vh;
}

.oferta{
  display: flex;
  justify-content: flex-start;
  height: 10.5em;
  left: 33vh;
  width: 66vw;
  margin-top: 4vh;
  margin-left: 1vh;
  background-color: #17172e;
  font-family: Bebas;
  color: white;
  letter-spacing: 5px;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

.imgOferta{
  float: left;
  margin: 5px;
  height: 9.8em;
  width: 14em;
}

.informacao{
  width: 46vw;
}
.informacao h1{
  font-size: 2em;
  margin-top: 16px;
}

.informacao h2{
  font-size: 1em;
  margin-top: 1px;
}
.estrelas{
  position: relative;
  top: 7em;
}
